<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<title>E-Commerce</title>
	<!--
      <meta name="description" content="UIN Gallery adalah tempat terkumpulnya kreasi terbaik karya mahasiswa UIN Maliki">
    -->
	<meta name="viewport" content="width=device-width, initial-scale=1" />

	<!-- preload -->
	<link rel="preload" as="style" href="/css/bootstrap.min.css" />

	<link rel="preload" as="style" type="text/css" href="/css/main.css" />
	<link rel="preload" as="script" type="text/css" href="/js/jquery.min.js" />
	<!-- preload -->
	<link rel="prefetch" type="text/css" href="/css/main.css" />

	<link rel="stylesheet" as="style" href="/css/all.css" />
	<link rel="stylesheet" href="/css/bootstrap.min.css" />
	<link rel="stylesheet" type="text/css" href="/css/main.css" />
	<link rel="icon shortcut" href="/assets/favicon.png" />
	<script src="/js/jquery.min.js" type="text/javascript"></script>

	<style>
		.rating {
			width: 300px;
		}

		.rating span {
			float: right;
			position: relative;
		}

		.rating span input {
			opacity: 0;
		}

		.rating span label {
			display: inline-block;
			width: 30px;
			height: 30px;
			text-align: center;
			color: #ccc;
			font-size: 30px;
			margin-right: 2px;
			line-height: 30px;
			border-radius: 50%;
			-webkit-border-radius: 50%;
		}

		.rating span:hover~span label,
		.rating span:hover label,
		.rating span.checked label,
		.rating span.checked~span label {
			color: #F90;
		}

		.checked {
			color: orange;
		}
	</style>

</head>

<body class="flex-wrap">
	<nav class="static">
		<div class="container">
			<div class="flex-wrap">
				<h1 class="blog-title" style="margin-left: -15px">
					E<span>Commerce</span>
				</h1>

				<div style="margin-left: 25px;">
					<form class="navbar-form" role="search">
						<div class="input-group">
							<input type="text" class="form-control" style="border-radius: 5px; height: 42px;" placeholder="Search" name="q">
							<div class="input-group-btn">
								<button class="btn btn-default" style="padding: 9px 12px;" type="submit"><i class="fas fa-search"></i></button>
							</div>
						</div>
					</form>
				</div>

				<div class="spacer"></div>
				<div class="link-wrapper">
					<ul class="link">
						<li id="home"><a href="/">Home</a></li>
						<% if(isLoggedIn) { %>
						<li id="transaction"><a href="/transaction">Transaction</a></li>
						<li id="products"><a href="/products">My Products</a></li>
						<li id="profile"><a href="/profile">Profile</a></li>
						<li class="btn-link">
							<a href="/logout" class="ml-3 btn btn-warning">Logout</a>
						</li>
						<% }else { %>
						<li class="btn-link">
							<a href="/login" style="color:white" class="ml-3 btn btn-primary">Login</a>
						</li>
						<% } %>
					</ul>
				</div>
			</div>
		</div>
	</nav>
	<div class="v-spacer">
		<script>
			var url = location.href
			var activated = false
			$('.link')
				.children('li')
				.each(function (index, val) {
					var text = $(val).attr('id')
						? $(val)
							.attr('id')
							.toLowerCase()
						: null
					if (url.indexOf(text) > 0) {
						$(val).addClass('active')
						activated = true
					}
				})
			if (location.href === 'http://localhost:8000/') $('#home').addClass('active')
			console.log(location.href)
		</script>