<option value="Footwear">Footwear</option>
<option value="Beauty and Personal Care">Beauty and Personal Care</option>
<option value="Mens Clothing">Mens Clothing</option>
<option value="Watches">Watches</option>
<option value="Home Decor & Festive Needs">Home Decor & Festive Needs</option>
<option value="Womens Clothing">Womens Clothing</option>
<option value="Kids Clothing">Kids Clothing</option>
<option value="Jewellery">Jewellery</option>
<option value="Pens & Stationery">Pens & Stationery</option>
<option value="Automotive">Automotive</option>
<option value="Home Furnishing">Home Furnishing</option>
<option value="Computers">Computers</option>
<option value="Cameras & Accessories">Cameras & Accessories</option>
<option value="Sports & Fitness">Sports & Fitness</option>
<option value="Kitchen & Dining">Kitchen & Dining</option>
<option value="Toys & School Supplies">Toys & School Supplies</option>
<option value="Mobiles & Accessories">Mobiles & Accessories</option>
<option value="Health & Personal Care Appliances">Health & Personal Care Appliances</option>
<option value="Tools & Hardware">Tools & Hardware</option>
<option value="Bags, Wallets & Belts">Bags, Wallets & Belts</option>
<option value="Baby Care">Baby Care</option>