@import url('https://fonts.googleapis.com/css?family=Saira+Condensed:200,400,700,900');
:root {
  --bgcolor: rgb(243, 243, 243);
  --accentColor: rgb(100, 130, 230);
  --blueColor: #2196f3;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  color: #333;
  background-color: var(--bgcolor);
  min-height: 100vh;
  position: relative;
  display: flex;
  flex-flow: column wrap;
  overflow-x: hidden;
}
.v-spacer {
  flex: 1;
}
a {
  text-decoration: none;
  color: #333;
}
a:hover {
  text-decoration: none;
}
.btn-ajax {
  margin: 20px auto;
  cursor: pointer;
}
nav {
  background-color: white;
  position: fixed;
  width: 100%;
  top: 0;
  transition: 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
  z-index: 999;
}

nav:not(.static) {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
nav.static {
  padding: 15px 0;
}
nav .flex-wrap {
  align-items: center;
  flex-flow: row wrap;
  justify-content: space-between;
}
.blog-title {
  color: var(--accentColor);
  font-weight: 700;
  font-family: 'Saira Condensed', sans-serif;
  letter-spacing: 2px;
  font-size: 30px;
}
.blog-title span {
  color: rgb(159, 176, 233);
}

[class*='md'],
[class*='sm'],
[class*='xs'] {
  padding: 0 15px;
  width: 100%;
  box-sizing: border-box;
}
.container {
  width: 85%;
  margin: 0 auto;
}
.md1 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 8.333333%;
  flex: 0 0 8.333333%;
  max-width: 8.333333%;
}

.md2 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 16.666667%;
  flex: 0 0 16.666667%;
  max-width: 16.666667%;
}

.md3 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 25%;
  flex: 0 0 25%;
  max-width: 25%;
}

.md4 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 33.333333%;
  flex: 0 0 33.333333%;
  max-width: 33.333333%;
}

.md5 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 41.666667%;
  flex: 0 0 41.666667%;
  max-width: 41.666667%;
}

.md6 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  max-width: 50%;
}

.md7 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 58.333333%;
  flex: 0 0 58.333333%;
  max-width: 58.333333%;
}

.md8 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 66.666667%;
  flex: 0 0 66.666667%;
  max-width: 66.666667%;
}

.md9 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 75%;
  flex: 0 0 75%;
  max-width: 75%;
}

.md10 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 83.333333%;
  flex: 0 0 83.333333%;
  max-width: 83.333333%;
}

.md11 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 91.666667%;
  flex: 0 0 91.666667%;
  max-width: 91.666667%;
}

.md12 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%;
}

.flex-wrap {
  display: -webkit-flex;
  display: -moz-flex;
  display: flex;
}
.flex-wrap.align-center {
  align-content: center;
}
.admin-act {
  border-top: 1px solid #ddd;
  padding-top: 10px;
  justify-content: space-between;
}
.admin-act,
.admin-act a {
  color: #777 !important;
}
.admin-act a {
  margin-left: 10px;
}
.flex-wrap.center {
  justify-content: center;
  align-items: center;
}
.flex-wrap.align-center {
  align-items: center;
}
.flex-wrap.justify-center {
  align-items: center;
}
.img-wrapper {
  overflow: hidden;
}
.img-wrapper img {
  width: 100%;
}
.pt-1 {
  padding-top: 5px;
}
.pt-2 {
  padding-top: 10px;
}
.pt-3 {
  padding-top: 15px;
}
.pt-4 {
  padding-top: 30px;
}
.pt-5 {
  padding-top: 50px;
}
.main {
  background-color: var(--bgcolor);
}
.sidebar section,
.white {
  background-color: white;
  margin-bottom: 20px;
  padding: 20px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  transition: 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.sidebar section:hover,
.white:hover {
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
}
.popular li {
  padding: 5px 20px;
  list-style: none;
  margin: 0 -20px;
}
.popular li:hover {
  background-color: var(--bgcolor);
}
.sidebar hr {
  border-color: var(--accentColor);
  border-width: 0.6px;
  margin: 15px 0;
  margin-bottom: 0;
}
.popular li:not(:first-child) {
  border-top: 1px solid var(--bgcolor);
}
.popular .right {
  flex: 1;
  justify-content: center;
  flex-direction: column;
}
.popular .sub-title {
  line-height: 21px;
  margin: 0;
}
.popular .penulis {
  margin-top: 8px;
  margin-bottom: 0;
}
ul.link {
  display: flex;
  padding: 0;
  margin-bottom: 0;
  justify-content: flex-end;
  width: 100%;
  flex: 1;
}
ul.link > li {
  white-space: nowrap;
  list-style: none;
  background-color: white;
  transition: 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
}
ul.link > li a {
  padding: 15px 30px;
  display: inline-block;
  text-decoration: none;
  font-weight: 700;
  color: #333;
  transition: 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}
ul.link > li.active,
ul.link > li:hover:not(.btn-link) {
  background-color: var(--blueColor);
}
ul.link > li.active a,
ul.link > li:hover a {
  color: white;
}
ul.link > li:hover a {
  padding: 15px 40px;
}
section.social {
  align-items: center;
  justify-content: space-between;
}
section.social .title {
  margin: 0;
}
ul.social {
  padding: 0;
  display: flex;
}
.social li {
  list-style: none;
  cursor: pointer;
  width: 30px;
  height: 30px;
}
.social li:not(:last-child) {
  margin-right: 10px;
}
.date {
  color: #999;
  font-weight: 100;
  font-size: 15px;
}
p.title {
  font-weight: 700;
  margin-top: 5px;
  margin-bottom: 5px;
  text-overflow: ellipsis;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
}
.desc {
  color: #555;
  line-height: 20px;
  font-size: 14px;
  flex: 1;
  margin-bottom: 10px;
}
.penulis {
  display: block;
  font-weight: 700;
  margin-bottom: 0;
  color: #777;
}
.footer {
  padding: 20px 0;
  margin-top: 50px;
  background-color: white;
  margin-bottom: 0 !important;
  font-size: 16px !important;
  width: 100%;
}
.footer .icon {
  width: 20px;
  display: inline-block;
  vertical-align: middle;
}
.text-center {
  text-align: center;
}
.card {
  background-color: white;
  transition: 1s cubic-bezier(0.075, 0.82, 0.165, 1);
  border: 1px solid transparent;
  margin: 0 -13px;
  padding: 10px;
  margin-bottom: 5px;
  display: flex;
  flex-flow: column wrap;
}
.jangka {
  margin-top: 0;
  margin-left: -15px;
  position: relative;
}
.jangka::before {
  content: '';
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  height: 2px;
  background-color: aqua;
  width: 97%;
}
.jangka span {
  padding-right: 20px;
  background-color: var(--bgcolor);
  position: relative;
  z-index: 3;
}
.card:hover {
  border-color: var(--accentColor);
  box-shadow: 0 2px 7px rgba(0, 0, 0, 0.1);
  transform: translateY(-5px);
}
.content-area [class*='md']:hover {
  border-color: var(--accentColor);
}
.sub-title {
  font-size: 15px;
  margin-bottom: 5px;
}
.form-control {
  flex: 1;
  padding: 5px 10px;
  border: 1px solid var(--accentColor);
  border-radius: 5px;
  height: 35px;
  width: 100%;
}
.form-control.special {
  border: 1px solid #aaa;
}
.form-control:hover,
.form-control:focus,
.form-control:active {
  outline: none;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.text-right {
  text-align: right;
}
.btn {
  padding: 10px 20px;
  border: none;
  color: white;
  border-radius: 5px;
}
.btn.btn-warning {
  background-color: #ffa726;
}
.btn.btn-primary {
  background-color: var(--accentColor);
}
.sidebar .btn {
  margin-left: -10px;
}
.sidebar .btn,
.sidebar .form-control {
  border-radius: 20px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}
.mt-1 {
  margin-top: 5px;
}
.mt-2 {
  margin-top: 10px;
}
.mt-3 {
  margin-top: 15px;
}
.mt-4 {
  margin-top: 30px;
}
.mt-5 {
  margin-top: 50px;
}
.mb-1 {
  margin-bottom: 5px;
}
.ml-1 {
  margin-left: 5px;
}
.ml-2 {
  margin-left: 10px;
}
.ml-3 {
  margin-left: 15px;
}
.ml-4 {
  margin-left: 30px;
}
.ml-5 {
  margin-left: 50px;
}
.mb-1 {
  margin-bottom: 5px;
}
.mb-2 {
  margin-bottom: 10px;
}
.mb-3 {
  margin-bottom: 15px;
}
.mb-4 {
  margin-bottom: 30px;
}
.mb-5 {
  margin-bottom: 50px;
}
.login {
  border: 1px solid var(--accentColor);
  margin-top: 60px;
  border-radius: 10px;
  padding: 20px;
  max-width: 100%;
  width: 300px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  background-color: white;
  text-align: center;
}
.login > * {
  display: block;
  width: 100%;
}
.login .btn {
  padding: 20px;
  font-weight: 700;
}
.login .title {
  margin-bottom: 30px;
  font-size: 18px;
  font-weight: 100;
  color: #555;
}
.login .login-title {
  font-weight: 700;
}
.text-danger {
  color: red !important;
}
.login .form-control {
  margin-bottom: 10px;
  height: 50px;
}
nav + * {
  margin-top: 80px;
}

.profile {
  padding: 20px 200px;
  height: 100%;
}

.profile-pics {
  display: block;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
  margin: 0 auto;
  overflow: hidden;
  border: 13px solid ghostwhite;
  margin-bottom: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
  cursor: pointer;
}
.profile label:not(.picker) {
  color: #666;
  font-weight: 800;
  margin-bottom: 10px;
  display: block;
}
.profile .form-control {
  height: 50px;
  margin-bottom: 20px;
}
@media (max-width: 992px) {
  .container {
    width: 93%;
  }

  .sm1 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 8.333333%;
    flex: 0 0 8.333333%;
    max-width: 8.333333%;
  }

  .sm2 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }

  .sm3 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
  }

  .sm4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }

  .sm5 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 41.666667%;
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
  }

  .sm6 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }

  .sm7 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 58.333333%;
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
  }

  .sm8 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }

  .sm9 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
  }

  .sm10 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 83.333333%;
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
  }

  .sm11 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 91.666667%;
    flex: 0 0 91.666667%;
    max-width: 91.666667%;
  }

  .sm12 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
  nav .flex-wrap {
    display: block;
  }
  nav {
    text-align: center;
  }
  nav + * {
    margin-top: 150px;
  }
  nav ul.link {
    justify-content: flex-start;
    overflow-x: auto;
  }
  .link-wrapper {
    height: 48px;
    overflow: hidden;
  }
}
@media (max-width: 768px) {
  .container {
    width: 95%;
  }
  .xs1 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 8.333333%;
    flex: 0 0 8.333333%;
    max-width: 8.333333%;
  }

  .xs2 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }

  .xs3 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
  }

  .xs4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }

  .xs5 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 41.666667%;
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
  }

  .xs6 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }

  .xs7 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 58.333333%;
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
  }

  .xs8 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }

  .xs9 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
  }

  .xs10 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 83.333333%;
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
  }

  .xs11 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 91.666667%;
    flex: 0 0 91.666667%;
    max-width: 91.666667%;
  }

  .xs12 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
}
.admin {
  color: #999 !important;
  font-size: 20px;
}
.post-title {
  color: #333;
}
.post-baru {
  padding-top: 20px;
}
.mce-branding {
  display: none !important;
}
#mceu_21 {
  display: none;
}
.text-capitalized {
  text-transform: capitalize;
}
.hidden {
  display: none;
}
#gambar-thumbnail {
  height: 100%;
  width: 100%;
  object-fit: scale-down;
}
.label-create {
  margin-bottom: 10px;
  color: #888;
}
.label-thumb {
  background-color: #ccc;
  height: 100px;
  display: block;
  width: 200px;
  position: relative;
  cursor: pointer;
  z-index: 3;
}
.label-thumb::after {
  content: '+';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: 900;
  font-size: 50px;
  color: #777;
  z-index: -1;
}
.img-content {
  -moz-object-fit: contain;
  object-fit: contain;
  height: 100%;
  width: 100%;
}
.img-wrapper.content {
  height: 275px;
  width: 100%;
  overflow: hidden;
  margin-bottom: 10px;
  position: relative;
  z-index: 6;
}
.img-wrapper-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 42px;
  color: #777;
}
.sidenav-img {
  height: 80px;
  width: 80px;
  object-fit: cover;
  border-radius: 50%;
  margin-right: 10px;
}
.alert {
  background-color: #ff9800;
  padding: 20px;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}
.alert .btn {
  margin-left: 20px;
  background-color: white;
  color: #333;
}
.alert p {
  color: #eee;
  line-height: 30px;
  flex: 1;
}
.img-content-detail {
  height: 300px;
  object-fit: scale-down;
}
.helper {
  font-size: 14px;
  color: #777;
}
.author-panel {
  background-color: white;
  padding-bottom: 40px;
}
.author-panel .row {
  flex-direction: column;
  padding-top: 20px;
}
.author-panel .name-label {
  color: #999;
}
.author-panel .name {
  color: #333;
  font-size: 26px;
  text-transform: capitalize;
  font-weight: 700;
  color: #3f51b5;
}
.author-panel .thumbnail {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
}
.spacer {
  flex: 1;
}
.pagination {
  display: flex;
  justify-content: center;
}
.pagination ul,
.pagination li {
  list-style: none;
  padding: 0;
  margin: 0;
}
.pagination ul {
  background-color: white;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
}
.pagination li a {
  padding: 13px 15px;
  min-width: 50px;
  text-align: center;
  display: inline-block;
  color: var(--blueColor);
}
.pagination li.active a {
  background-color: var(--blueColor);
  color: white;
}
.pagination li:hover a {
  background-color: #eee;
}
.pagination li.disabled a {
  color: #666;
  cursor: not-allowed;
}
.pagination li:not(:last-child) a {
  border-right: none;
}
.text-bold {
  font-weight: 800;
}
.buy-wrapper .btnBuy{
  background-color: #2196f3;
  border-radius: 0 5px 5px 0;
  color: white;
  padding: 0 10px;
  border: none;
  box-shadow: none;
}
.buy-wrapper .inputItem{
  background-color: #2086d8;
  border: none;
  border-radius: 5px 0 0 5px;
  color: white;
  text-align: center
}
.buy-wrapper{
  height: 40px;
  align-items: stretch;
  justify-content: center
}
.product-img-detail{
  width: 150px;
  height: 150px;
  border-radius: 50%;
  overflow: hidden;
  object-fit: contain
}
.block{
  display: block;
  width: 100%
}
.own-wrapper{
  width: 500px;
  margin: 0 auto;
}

.own-wrapper .btn-wrapper *{
  flex-grow: 1
}
.btnCreateProduct{
  position: relative;
  z-index: 99;
}
.table-seller tr,
.table-seller th,
.table-seller td{
  vertical-align: middle
}