<%- include ./partials/new-header %>
<section class="main pt-3" style="margin-top: 100px;">
	<div class="container-fluid">
		<div class="row">
			<div class="md3 sm2 xs12 position-fixed"><%- include ./partials/sidenav %></div>
			
			<div class="offset-3 md9 sm10 xs12">
				<div class="container">
					<div class="row">
						<div class="md12 sm12 xs12">
							<p class="penulis jangka">
								<span>All Posts</span>
							</p>
							<div class="row">
								<% rows.forEach(row => { %>
								<div class="md3 sm6 xs6">
									<div class="card">
										<figure class="img-wrapper content">
											<img class="img-content" src="<%= row['thumbnail'] %>" alt="<%= row['title'] %>">
										</figure>
										<small class="date">
											<%= row['date'] %>
										</small>
										<a href="<%= '/test' %>">
											<p class="title text-capitalized">
												<%= row['title'] %>
											</p>
										</a>
										<p class="desc">
											<%= row['description'] %>
										</p>
										<p class="penulis">
											<%= row['name'] %>
										</p>
									</div>
								</div>
								<% }) %>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="text-center mt-5"><%- include ./partials/new-pagination %></div>
	</div>
</section>
<%- include ./partials/footer %>
