<%- include ./partials/new-header %>
<section style="margin-top: 100px;">
    <div class="container-fluid">
		<div class="row">
			<div class="md3 sm2 xs12 position-fixed"><%- include ./partials/sidenav %></div>
            
            <div class="offset-3 md9 sm10 xs12">
                <div class="container-fluid">
                    <div class="header text-center mt-4">
                        <img src="<%= photoUrl %>" class="product-img-detail" alt="<%= nama %>">
                        
                        <div id="ratingForm">
                            <label style="display: none;" id="ratingProductId"><%= id %></label>
                            <div class="form-group">
                                <div><label class="mt-2">Rate</label></div>
                                <div class="rating" style="margin-left: 335px;">
                                    <span id="star5" <% if (rate == "5") { %> class="checked" <% } %> ><label class="fa fa-star"></label></span>
                                    <span id="star4" <% if (rate == "4") { %> class="checked" <% } %> ><label class="fa fa-star"></label></span>
                                    <span id="star3" <% if (rate == "3") { %> class="checked" <% } %> ><label class="fa fa-star"></label></span>
                                    <span id="star2" <% if (rate == "2") { %> class="checked" <% } %> ><label class="fa fa-star"></label></span>
                                    <span id="star1" <% if (rate == "1") { %> class="checked" <% } %> ><label class="fa fa-star"></label></span>
                                </div>
                            </div>
                        </div>

                        <br>

                        <div class="product-desc text-center">
                            <h4 class="title"><%= nama %></h4>
                            <p class="product-price mb-0"><%= harga %> LE</p>
                            <p class="product-price">Stock:   <%= stock %></p>
                        </div>

                        <form action="/transaction/create" method="POST" class="buy-wrapper flex-wrap text-center">
                            <input type="hidden" value="<%= id %>" name="id">
                            <input type="hidden" value="<%= harga %>" name="total">
                            <input type="number" min="1" max="<%= stock %>" value="1" name="item" class="inputItem">
                            <button class="btnBuy">Buy</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<%- include ./partials/footer %>
