<%- include ./partials/new-header %>
<section style="margin-top: 100px;">
    <div class="container-fluid">
		<div class="row">
			<div class="md3 sm2 xs12 position-fixed"><%- include ./partials/sidenav %></div>
            
            <div class="offset-3 md9 sm10 xs12">
				<div class="container-fluid">
					<ul class="nav nav-tabs">
						<li class="text-bold pr-3 flex-wrap align-center">Buyer:</li>
						<% [{ name: 'Orders', link: '/transaction/done' }].forEach(el => { %>
						<li class="nav-item">
							<a class="nav-link link-item" data-link="<%= el.link %>" id="<%= el.name %>"
								href="<%= el.link %>"><%= el.name %></a>
						</li>
						<% }) %>

						<div class="spacer"></div>

						<li class="text-bold pr-3 flex-wrap align-center">Seller:</li>
						<% [{ name: 'Ordered', link: '/transaction/processed' }].forEach(el => { %>
						<li class="nav-item">
							<a class="nav-link link-item" data-link="<%= el.link %>" id="<%= el.name %>" href="<%= el.link %>">
								<%= el.name %></a>
						</li>
						<% }) %>
					</ul>

					<table class="table table-striped table-seller">
						<thead>
							<tr>
								<th scope="col">#</th>
								<th scope="col">Product</th>
								<th scope="col">Total</th>
								<th scope="col">Date of Purchase</th>
								<% if(!isOrdered){ %>
								<th scope="col">Date Processed</th>
								<% } %>
								<th scope="col">Information</th>
								<% if(isOrdered){ %>
								<th scope="col">Action</th>
								<% } %>
							</tr>
						</thead>

						<tbody>
							<% data.forEach((el, idx) => { %>
							<tr>
								<th scope="row"><%= idx+1 %></th>
								<td><%= el.product.nama %></td>
								<td><%= el.product.harga * el.item %> LE</td>
								<td><%= el.createdAt %></td>
								<% if(!isOrdered){ %>
								<td><%= el.processed?el.updatedAt:'-' %></td>
								<% } %>
								<td><%= el.rejected?'ORDER DENIED':el.processed?'FINISHED':'UNPROCESSED' %></td>
								<% if(isOrdered){ %>
								<td>
									<a href="/transaction/reject/<%= el.id %>" class="btn btn-danger">Decline Order</a>
									<a href="/transaction/process/<%= el.id %>" class="btn btn-primary">Process Order</a>
								</td>
								<% } %>
							</tr>
							<% }) %>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</section>

<script>
	let home = true;

	$('.link-item').each((idx, el) => {
		const href = window.location.href;
		if (href.includes($(el).attr('data-link'))) {
			home = false;
			return $(el).addClass('active');
		}
	});

	if (home)
		$('#Orders').addClass('active');
</script>

<%- include ./partials/footer %>
